@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro&display=swap');
body{
    background-color: rgb(248, 246, 244);
    font-family: "noto sans";
}
.container{
    border: solid 2px rgb(206, 198, 183)
}

.colors{
    background-color: white;
}

.container div{
    display: inline-block;
    width: 45%;
    margin-bottom: 2%;
    margin-left: 2.5%;
    margin-right: 2%;
}

div.container{
    margin-bottom: 10px;
}

.eggshell{
    background-color: rgb(248, 246, 244);

}

.sandy{
    background-color: rgb(206, 198, 183);

}

.goldeneye{
    background-color: rgb(255, 224, 146);
}

.lavender{
    background-color: rgb(197, 197, 241);
}

.scp{
    font-family: 'Source Code Pro', monospace;
}

.noto{
    font-family: 'Noto Serif', serif;
}

.encode{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.underline{
    text-decoration: underline;
}

h1{
    font-weight: 700;
    font-size: 26px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;)
}

h2{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

p{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Noto Serif', serif;
}
